/* .phonebook{
    display: flex; 
    
}  */

.phonebook_add_btn{
    font-size: 15px;
    color: aliceblue;
    background-color: rgb(85, 85, 241);
height: 50px;
width:80px;
}

.phonebook_input{
height: 50px;
    width: 280px;
}

.phonebook_form{
justify-content: center;
}